# MongoDB
MONGO_INITDB_DATABASE=iris
MONGODB_URL=mongodb://mongo:27017/

# Application
DB_NAME=iris
ADMIN_USERNAMES=admin
USERNAME_FIELD=REMOTE_USER
LOG_LEVEL=INFO
DEV_MODE=true
DEV_USERNAME=ytl
DEV_EPPN=ytl@slac.stanford.edu
DEV_FULLNAME=Sam Welborn

## Admin users
ADMIN_USERNAMES=sdf-bot,lcls-bot,ytl

## Auth
PREFER_EPPN=true
USERNAME_FIELD=x-vouch-idp-claims-name
EPPN_FIELD=x-vouch-user
FULLNAME_FIELD=x-vouch-idp-claims-given_name

# Email
COACT_EMAIL_SERVER_HOST=mailhog
COACT_EMAIL_SERVER_PORT=1025

# OpenFGA Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=openfga

# OpenFGA
OPENFGA_DATASTORE_ENGINE=postgres
OPENFGA_DATASTORE_URI=postgres://postgres:password@postgres:5432/openfga?sslmode=disable

# OpenFGA Sync
COACT_API_URL=http://coact-api:8000/graphql
OPENFGA_API_URL=http://openfga:8080