Dear {{facilityname}} Czar,

User {{preferredUserName}} (EPPN: {{eppn}}) has requested membership of your facility. In order to proceed, you must approve or deny their request at

https://coact.slac.stanford.edu/requests

Thanks,

Team S3DF
