Dear S3DF user,

Your account registration is complete.

Connection information is available at https://s3df.slac.stanford.edu/public/doc/#/accounts-and-access?id=how-to-connect.

Questions and issues may be directed to s3df-help@slac.stanford.edu, or to SLAC Slack's #comp-sdf channel at https://app.slack.com/client/T1X4J8FJ8/C01965DTG91.

Thanks,

Team S3DF
